body
{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: aqua
}

.sidebar
{
    height: 100%;
    width: 250px;
    background-color: #20fd0c;
    padding-top: 20px;
    position: fixed;
    transition: margin-left 1s ease;
}

.sidebar a
{
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.sidebar a:hover
{
    background-color: #ff2424;
}

.sidebar h2
{
    color: white;
    text-align: center;
}

.content
{
    margin-left: 250px;
    padding: 10px;
    transition: margin-left 1s ease;
}
.card-container
{
    display: flex;
    flex-wrap: wrap;
}

.card
{
    background-color: rgb(9, 255, 120);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(26, 25, 25, 0.623);
    padding: 16px;
    margin: 16px;
    flex: 1 0 calc(33.33% - 32px);
}

.card p
{
    color: #111;
}
.card h3
{
    color: #5a5858;
}

.card 
{
    color: #555;
}
.sec-card
{
    background-color: gold;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(136, 122, 122, 0.1);
    padding: 30px;
    margin: 20px;
    flex: 1 0;
}